@using BikeStore.Models
@model ApplicationUser
@{
    ViewBag.Title = "Roles management";
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("AssignRole", "RoleManagement"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Give moderator role" class="btn btn-default" />
        </div>

    </div>
}
